$containerMaxWidth: 1352px;
$white: #ffffff;
$black: #000000;
$dark20: #202020;
$fontTT400: 'TT Firs Neue';
$fontRobotoReg400: 'Roboto';
$fontStandart: Arial, Helvetica, sans-serif;
$dark33: #333333;
$orange30: #FF6E30;
$lightCA: #cacaca;
$dark4A: #4A4A4A;
$light99: #999999;
$lightE9: #e9e9e9;
$dark66: #666666;
$focus2B: #BC572B;
$active07: #CE4307;
$red30: #FF3030;


